[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hugo-WonderMod"]
	path = hugo-WonderMod
	url = https://github.com/kp9001/hugo-WonderMod.git
